.paginaPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

}

.paginaPrincipal_container{
    display: flex;
    align-items: center;
    justify-content: center;

}


